.navbar-wrap{
    // background: white;
    .logo{
        font-family: 'Pacifico', cursive;
    }
    a{
        margin: 0em 0.5em;
        color: #333;
    }
    .menu-wrap{
        height: 30px;
        width: 30px;
        background: #ddd;
        border-radius: 50%;
        cursor: pointer;
    }
}