<div class="btn-group" dropdown>
  <button id="button" dropdownToggle type="button" class="btn create-btn"
          aria-controls="dropdown-animated"> + Create </button>
  <ul id="dropdown" *dropdownMenu class="dropdown-menu dropdown-menu-right overflow-hidden"
      role="menu" aria-labelledby="button-animated">
    <li role="menuitem">
      <button class="dropdown-item" (click)="openCreateUriModal()">Url</button>
    </li>
    <li role="menuitem">
      <button class="dropdown-item" [disabled]="!isSignedIn" (click)="openCreateCardModal()">Card {{isSignedIn?'':'(Please signin)'}}</button>
    </li>
    <li role="menuitem">
      <button class="dropdown-item" [disabled]="!isSignedIn" (click)="openCreateGroupModal()">Group {{isSignedIn?'':'(Please signin)'}}</button>
    </li>
  </ul>
</div>
