<div class="modal-header">
  <h4 class="modal-title pull-left"> Create Url </h4>
  <button type="button"
          class="close pull-right"
          aria-label="Close"
          (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div *ngIf="!isResultReceived&&!loader">
    <label>Enter your URL</label>
    <input type="text"
           class="input-box"
           placeholder="e.g. https://www.google.com"
           [(ngModel)]="url.longurl">
    <small class="text-secondary">Must start with http/https</small>
    <br>
    <label>Expiry Date</label>
    <div class="datepicker-wrap">
      <input
             class="input-box"
             bsDatepicker
             #datepickerFull="bsDatepicker"
             [bsConfig]="{ dateInputFormat: 'DD-MMM-YYYY HH:mm:ss' }"
             [(ngModel)]="url.expirydate">
      <button class="btn btn-default" (click)="datepickerFull.toggle()"
              [attr.aria-expanded]="datepickerFull.isOpen"
              type="button">
        <img src="assets/images/calendar.svg" height=20></button>
    </div>
  </div>
  <div *ngIf="isResultReceived&&!loader">
    <label>Long URL</label>
    <div class="border p-2 mb-3"> {{url.longurl}} </div>
    <label>Short URL</label>
    <div class="url-link border p-2 d-flex justify-content-between">
      <span>teensy.xyz/{{url.shorturl}}</span>
      <button class="btn btn-default p-0 m-0" title="copy" (click)="onCopyLink('http://teensy.xyz'+url.shorturl)">
        <img src="assets/images/copy.svg" height="20">
      </button>
    </div>
  </div>
  <ng-container *ngIf="loader">
    <app-loader></app-loader>
  </ng-container>
</div>
<div class="modal-footer">
  <button type="button"
          class="btn btn-default"
          (click)="modalRef.hide()">Close</button>
  <button *ngIf="!isResultReceived" class="btn btn-dark"
          (click)="createUrl()"
          [disabled]="!url.longurl||!url.expirydate">Create</button>
</div>
