<div class="modal-header">
  <h4 class="modal-title pull-left"> Create Group </h4>
  <button type="button"
          class="close pull-right"
          aria-label="Close"
          (click)="modalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <label>Title</label>
  <input type="text "
         class="input-box mb-3"
         [(ngModel)]="group.title">
  <label>Description</label>
  <input type="text"
  class="input-box"
         [(ngModel)]="group.description">
</div>
<div class="modal-footer">
  <button type="button"
          class="btn btn-default"
          (click)="modalRef.hide()">Close</button>
  <button class="btn btn-success btn-dark"
          (click)="createGroup()">Create</button>
</div>
